*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.login-box{
    width:90%;
    max-width:400px;
    background:#1b1b1b;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px rgba(255,215,0,.3);
}

h1{
    color:gold;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border:none;
    border-radius:8px;
    font-size:16px;
}

button{
    width:100%;
    padding:14px;
    margin-top:15px;
    background:gold;
    color:black;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#ffd700;
}

p{
    color:white;
    margin-top:20px;
}

a{
    color:gold;
    text-decoration:none;
}.price-card{
    background:#222;
    border:2px solid gold;
    border-radius:12px;
    padding:20px;
    margin:20px 0;
    text-align:left;
}

.price-card h2{
    color:gold;
    margin-bottom:10px;
}

.price{
    font-size:28px;
    font-weight:bold;
    color:#FFD700;
    margin:15px 0;
}

.feature{
    margin:8px 0;
    color:white;
}

.popular{
    background:gold;
    color:black;
    padding:5px 12px;
    border-radius:20px;
    font-weight:bold;
    display:inline-block;
    margin-bottom:10px;
}